@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bebas Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-VariableFont_wght.ttf);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: Bebas Neue;
}

body {
  color: white;
  background: rgb(1, 12, 21);
  background-image: url(../public/assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: right;
  backdrop-filter: blur(100px);
}

.Caveat {
  font-family: Caveat;
}

.custom-checkbox {
  width: 20px; /* Adjust the width of the checkbox */
  height: 20px; /* Adjust the height of the checkbox */
  appearance: none; /* Remove default styles (for some browsers) */
  border: 1px solid #e3e4f1; /* Border style */
  border-radius: 40%;
  background-color: inherit; /* Background color when unchecked */
  cursor: pointer;
}

.custom-checkbox:checked {
  background: linear-gradient(135deg, #5df 0%, #c058f3 100%);
  display: flex;
  justify-content: center;
}

.custom-checkbox::after {
  content: "\2713"; /* Unicode checkmark character */
  font-size: 13px; /* Adjust the size of the checkmark */
  color: #fff; /* Color of the checkmark when checked */
  display: none;
  margin-top: 1px;
}

.custom-checkbox:checked::after {
  display: block;
}
